*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

:root{
    --bg-color: linear-gradient(120deg, #ff530b, #ff3737) ;
    --bg-focus-color: #000000;
}

body{
    background: var(--bg-color);
}

#root{
    height: 100%;
    /* background: url(./assets/pomofundo.png) center center; */
}

#Container{
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}

/* Background's */

#EspacoBg{
    background: url(../assets/pomofundo.png) center top;
    background-size: 13%;
    opacity: 0.3;
    position: fixed;
    top: 0;
    animation: fundoAbaixo 60s linear infinite;
    width: 200%;
    height: 200%;
    z-index: -1;
}

#EspacoBg2{
    background: url(../assets/FundoCriador-pomodoro.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;

    position: relative;
    top: 0;
    left: -14px;

    height: 80vh;
    width: 105%;

    padding: 10px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 3px solid white;
}

/* TopNavBar */

#TopNavBar{
    background-color: rgba(25, 210, 0, 0.65);
    box-sizing: border-box;
    transition: .2s;
}

#TopNavBar #brand{
    display: flex;
    justify-content: start;
    align-items: center;

    margin: 0;
}

#TopNavBar #brand:hover{
    text-shadow: #ff3737 0px 0px 10px;
    opacity: .95;
    transition: .5s;
}

.hidden{
    transition: .2s;
    top:-100px
}

/* Container Interior TopNavBar */

#ContainerInteriorTopNB{
    display: flex;
    align-items: center;
    margin: 4px 2%;

    width: 100%;
}

#ContainerInteriorTopNB ul{
    display: flex;
    align-items: center;
    margin: 4px 2%;

    width: 100%;
}

#ContainerInteriorTopNB .ml{
    margin-left: .6em;
}

#ContainerInteriorTopNB .btn-danger{
    background: #ff3737;
    border: #ff3737;
}

#ContainerInteriorTopNB .btn-danger:hover{
    background: #eb3333;
    border: #f03434;
}

#ContainerInteriorTopNB .btn-success{
    background: rgb(22, 192, 0);
    border: rgb(22, 192, 0);
}

#ContainerInteriorTopNB .btn-success:hover{
    background: rgb(20, 175, 0);
    border: rgb(20, 175, 0);
}

/* Pós-header */

#FraseDeEfeito{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100vh;
    /* box-sizing: border-box; */
    padding: 0 1em;
    padding-bottom: 215px;
    transition: .3s;
}

.pbottomFrase{
    padding-bottom: 100px !important;
}

/* Conteúdo escrito */

#Container .full-width-element{
    position: relative;
    left: 0px;

    width: 105%;
    background: rgb(243, 243, 243);

    padding-left: 0;

    padding: 1rem;

    padding-left: 8rem;
    padding-right: 11.9rem;

    text-align: justify;
}

.full-width-element article{
    padding-right: .8rem;
}

#EspacoBg2 .titulo{
    background: white;
    padding: 20px;
}

#EspacoBg2 .titulo h2{
    padding: 0;
    margin: 0;
}

#Container .borderbottom{
    border-bottom: 3px solid white;
}

/* Footer */

#Footer #BgFooter{
    background: #eb3333;
}

#Footer #Copyright{
    background: #bd2b2b;
}

#Footer .bordertop{
    border-top: 3px solid white;
}

#Footer .socialm{
    padding-right: 1rem;
}

#Footer .socialm #SocialMLinks a { 
    display: flex;
    align-items: center;
    color:  rgb(22, 192, 0);
    transition: .5s;
}

#Footer .socialm #SocialMLinks a:hover { 
    color: rgb(20, 175, 0);
}

#Footer #BgFooter .socialm #SocialMLinks{
    font-size: 1.4em;
}

#Footer #BgFooter .sep{
    border-top: 1px solid rgba(0, 0, 0, .3);
}

/* Animações */

@keyframes fundoAbaixo {
    0% {
        transform: translateY(0%) translateX(0%);
    }
    50% {
        transform: translateY(-50%) translateX(-50%);
    }
    100% {
        transform: translateY(0%) translateX(0%);
    }
}

/* Media Queries */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    a .fs-3{
        font-size: calc(1rem + .6vw) !important;
    }
    div .display-1{
        font-size: calc(1.5rem + 3.5vw);
    }
    div .lead{
        font-size: .95rem;
    }
    ul .btn{
        padding: 0.4rem 0.25rem;
        font-size: 0.875rem;
        border-radius: .25rem;
    }
    #EspacoBg2, #Container .full-width-element{
        width: 115%;
    }
    #root #Container .full-width-element{
        font-size: .8em;
        padding-left: 1rem;
        padding-right: 3rem;
    }
    #Container div#EspacoBg2{
        padding: 0;
        justify-content: start;
    }
    #Container #EspacoBg2 .titulo{
        padding: 10px;
        margin-left: .8rem;
    }
    #Container #EspacoBg2 .titulo h2{
        font-size: .7em;
    }
    #Footer{
        font-size: .8em;
    }
    #Footer #BgFooter .socialm #SocialMLinks{
        font-size: 1.8em;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    #root #Container .full-width-element{
        font-size: .8em;
        padding-left: 1rem;
        padding-right: 1.5rem;
    }
    #Footer{
        font-size: 1em;
    }
    #Footer #BgFooter .socialm #SocialMLinks{
        font-size: 1.5em;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    #root #Container .full-width-element{
        font-size: .9em;
        padding-right: 9.2rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #root #Container .full-width-element{
        padding-right: 9.5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1599.98px) { 
    #root #Container .full-width-element{
        padding-right: 10.9rem;
    }
}