*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

.MainPage, .MainPage body{
    background: #e93232;
    height: 100%;
    /* Mudar essa altura depois */
}

/* ContainerTopo */

.MainPage #root #ContainerTopo{
    background: #ff3737;

    width: 100%;

    padding: .5rem 4rem;

    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.MainPage #root #ContainerTopo #Topo{
    position: relative;

    padding: 0;
}

.MainPage #ContainerTopo #brand{
    margin: 0 auto;
}

.MainPage #ContainerTopo #brand a{
    display: flex;
    align-items: center;

    text-decoration: none;
    text-shadow: #ff3737 0px 0px 10px;

    opacity: .95;
    transition: .5s;
}

.MainPage #ContainerTopo #brand a:hover{
    text-shadow: 0 0 10px rgb(22, 192, 0);
}

.MainPage #ContainerTopo #brand a b{
    color: white;
}

.MainPage #ContainerTopo #Topo #UserButton{
    position: absolute;
    right: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: 45px;
    height: 45px;
}

.MainPage #ContainerTopo #Topo #UserButton .MuiAvatar-root{
    width: 100%;
    height: 100%;
}

.MainPage #ContainerTopo #Topo #UserButton .MuiAvatar-root:hover{
    transition: .5s all;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

/* ContainerPrincipal */

#ContainerPrincipal #TaskName{
    position: relative;
}

#ContainerPrincipal #TaskName input{
    background: none;
    border: 0 none;
    border-bottom: 2px solid rgba(0, 0, 0, .2);

    color: white;
    

    outline: none;
    box-shadow: 0 0 0 0;

    text-align: center;
}

#ContainerPrincipal #TaskName span{
    color: white;
    opacity: .88;
    
    position: absolute;
    top: -12%;
    
    display: flex;
    justify-content: center;

    width: 96.5%;

    font-size: .8em;
    padding: 5px 0;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}

/* O acento define que com a alteração de um, o outro receba alterações */
#ContainerPrincipal #TaskName input:focus ~ span,
/*#ContainerPrincipal #TaskName input:hover ~ span,*/
#ContainerPrincipal #TaskName input:not(:placeholder-shown) ~ span{
    opacity: 1;
    font-size: .7em;
    transform: translateY(-1.5em);

    color: rgb(22, 192, 0);
}

/* O intuito é de algum jeito animar isso depois https://app.svgator.com/#/ */
#ContainerPrincipal .container .card{
    background: rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .1);
}

#ContainerPrincipal .container .card svg{
    background: url(../assets/TomateTempo-removebg-preview.png) no-repeat center center;
    background-size: contain;
}

/* MEDIA QUERIES */

@media (max-width: 575.98px) { 
    .MainPage #ContainerTopo #Topo #UserButton{
        right: -1.5em;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .MainPage #ContainerTopo #Topo #UserButton{
        right: 5em;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .MainPage #ContainerTopo #Topo #UserButton{
        right: 6em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1599.98px) { 
    .MainPage #ContainerTopo #Topo #UserButton{
        right: 9em;
    }
}

/* Extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1600px){ 
    .MainPage #ContainerTopo #Topo #UserButton{
        right: 15rem;
    }
}