#LycosLogoSVG{
    transition: .6s;
    cursor: pointer;
    
    border-color: white;
    border-radius: 3em;
}

#LycosLogoSVG:hover{
    height: 110px;
    width: 240px;

    backdrop-filter: blur(10px);
    border-radius: 5em;
}

#LycosLogoSVG rect#GreekCircle-removebg{
    box-sizing: border-box;
    transform-origin: 47.1px 50px;
    animation: Rotation 20s linear infinite;
}

#LycosLogoSVG:hover rect#GreekCircle-removebg{
    animation: Rotation 20.5s linear reverse infinite;
}

@keyframes Rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(980deg);
    }
}